<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Shopping List</title>
    <link rel="stylesheet" href=" /css/bootstrap.css">
  </head>
  <body>
    <h1>Shopping with Sinatra</h1>
    <hr>

    <%= yield %>

  </body>
</html>
